/********** Base styles **********/
* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
nav .navbar-brand {
    font-size: 2em;
}
.menu-title {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}
#menu-collapse .menu-title a:hover {
    background-color: #c1c1c1;
}
.row {
    padding: 20px;
}
section {
    padding: 20px;
    color: white;
    background-color: #737373;
}
.section-title {
    font-size: 1.6em;
    margin-bottom: 10px;
}