/********** Base styles **********/
* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 175%;
}
section > div {
    position: relative;
    background-color: #edebac;
    border: 1px solid black;
}
.section-title {
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid black;
    text-align: center;
    color: white;
    font-size: 125%;
    width: 100px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.title-chicken {
    background-color: #ff8624;
}
.title-beef {
    background-color: #21b81f;
}
.title-sushi {
    background-color: #537eff;
}
.section-content {
    margin-top: 40px;
    padding: 8px;
    color: black;
}

/********** Responsive width **********/
.row > section {
    width: 100%;
    float: left;
    padding: 8px;
}
@media (min-width: 992px) {
    .row > section {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .row .col-md-double {
        width: 50%;
    }
    .row .col-md-single {
        width: 100%;
    }
}